<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<p>you can try player@yandex.ru with password player for the role PLAYER,
    parent@yandex with password parent for the role PARENT,
    coach@yandex with password coach for the role COACH,
doctor@yandex with password doctor for the role DOCTOR,
admin@yandex with password admin for the role ADMIN</p>
<form onsubmit="event.preventDefault(); login()">
    <div>
        <label for="email">Email:</label>
        <input
                type="email"
                id="email"
                name="email"
                value="player@yandex.ru"
                required
        />
    </div>
    <div>
        <label for="password">Password:</label>
        <input
                type="password"
                id="password"
                name="password"
                value="player"
                required
        />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <p>this is the full response:</p>
    <label for="user_id">User id:</label>
    <textarea name="user id" id="user_id" cols="10" rows="1"></textarea>
    <br/>
    <label for="token">Token:</label>
    <textarea name="token" id="token" cols="80" rows="4"></textarea>
    <br/>
    <label for="issued_at">Issued at:</label>
    <textarea name="issued_at" id="issued_at" cols="30" rows="1"></textarea>
    <br/>
    <label for="expires_at">Expires at:</label>
    <textarea name="expires_at" id="expires_at" cols="30" rows="1">
      </textarea>
    <p>Here is the full info on user (received with token):</p>
    <label for="full_info">Full user info (with token):</label>
    <textarea name="full_info" id="full_info" cols="60" rows="4"> </textarea>
    <p>User's hobby (received with token, @Query(SELECT name FROM hobbies JOIN user_hobbies on hobbies.id =
        user_hobbies.hobby_id JOIN users on user_hobbies.user_id = users.id WHERE users.id = :userId")):</p>
    <label for="hobby">Hobbies (with token):</label>
    <textarea name="hobby" id="hobby" cols="60" rows="4"> </textarea>
    <p>Here is info on all users (received with token) - only for ADMIN!</p>
    <label for="all_users">Total number so registered users ( accessible with ADMIN token) and pagination - show only 3 users:</label>
    <textarea name="all_users" id="all_users" cols="60" rows="5"> </textarea>
</form>
<form onsubmit="event.preventDefault(); register()">
    <p>Register form</p>
    <div>
        <label for="email_reg">Email:</label>
        <input
                type="email_reg"
                id="email_reg"
                name="email_reg" required
        />
    </div>
    <div>
        <label for="password_reg">Password:</label>
        <input
                type="password_reg"
                id="password_reg"
                name="password_reg"
                required
        />
    </div>
    <div>
        <label for="role_reg">Role:</label>
        <select id="role_reg" name="role_reg" required>
            <option value="ADMIN">ADMIN</option>
            <option value="USER">USER</option>
            <option value="COACH">COACH</option>
            <option value="PARENT">PARENT</option>
            <option value="PLAYER">PLAYER</option>
            <option value="DOCTOR">PLAYER</option>
        </select>
    </div>
    <div>
        <label for="first_name_reg">First Name:</label>
        <input
                type="first_name_reg"
                id="first_name_reg"
                name="first_name_reg"
                required
        />
    </div>
    <div>
        <label for="last_name_reg">Last Name:</label>
        <input
                type="last_name_reg"
                id="last_name_reg"
                name="last_name_reg"
                required
        />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>
<button onclick="shutdown()">Shutdown the server app</button>
<script>

    const server = "http://95.140.156.17:8084/";

    function shutdown() {
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const data = {
            email: email,
            password: password,
        };
        document.getElementById("token").innerText = data.token;
        authFetch(data.token, server, "shutdown", "");
    }

    function login() {

        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const data = {
            email: email,
            password: password,
        };
        fetch(server + "api/login", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                document.getElementById("user_id").innerText = data.user_id;
                document.getElementById("token").innerText = data.token;
                document.getElementById("issued_at").innerText = data.issued_at;
                document.getElementById("expires_at").innerText = data.expires_at;
                authFetch(data.token, server, "info", "full_info");
                authFetch(data.token, server, "myhobbies", "hobby");
                authFetch(data.token, server, "allusers", "all_users");


            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }

    function authFetch(token, server, endpoint, divToFill) {
        fetch(server + "api/" + endpoint, {
            method: "GET",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + token
            }
        })
            .then((response) => response.json())
            .then((data) => {
                document.getElementById(divToFill).innerText = JSON.stringify(data);
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }

    function register() {
        const token = document.getElementById("token").value;

        const email = document.getElementById("email_reg").value;
        const password = document.getElementById("password_reg").value;
        const role = document.getElementById("role_reg").value;
        const first_name = document.getElementById("first_name_reg").value;
        const last_name = document.getElementById("last_name_reg").value;

        const data = {
            email: email,
            password: password,
            role: role,
            first_name: first_name,
            last_name: last_name
        };
        console.log(data);
        fetch(server + "api/register", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "Authorization": "Bearer " + token
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => console.log(data))
            .catch((error) => {
                console.error("Error:", error);
            });
    }
</script>
</body>
</html>
